
/* Setting the base parameters */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Setting the background color */
body {
    background-color: #d9dcd6;
}


/* Formatting the header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Place h1 in line with header and add font-size*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Alter color of 'SEO' in HORISEON */
.seo {
    color: #d9dcd6;
}

/* Placing the page links to improve UI */
pages {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* Remove the dot points */
pages ul {
    list-style-type: none;
}

/* Adding margin to the list and placement in the same row */
pages ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Page texts will be colored white and will have no decorations */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Adjusting image parameters, position and adding url */
.image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Adding float classes for selective positioning within the sections; Left and Right */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Setting the parameters for the main content section */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Create the parameters for the sections within the main content block */
.formatting {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

/* Limiting the image height so that it does not exceed it's section area */
.formatting img {
    max-height: 200px;
}

/* Positioning and dictating size of h2 headings */
.formatting h2 { 
    margin-bottom: 20px;
    font-size: 36px;
}

/* Setting the parameters for the right-side content section  */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* Formatting each div within the right-side content section */
.formatting2 {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Positioning h3 headings */
.formatting2 h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Positioning and limiting images within the right-side section */
.formatting2 img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Setting the parameters for the footer and adding a font-family */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Adding a font-size to the h2 in the footer */
footer h2 {
    font-size: 20px;
}

/* Adding a font-size to the paragraph in the footer */
p {
    font-size: 16px;
}
